.single_portfolio__content {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
	justify-content: space-between;
}

.single_portfolio_slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 1;
	width: 2.25rem;
	height: 2.25rem;
	border: none;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 50%;
	font-size: 0;
	transform: translate(0, -50%);
}
.single_portfolio__content__block {
	margin-bottom: 8rem;
}
.single_portfolio_slider .slick-next {
	right: 1rem;
}

.single_portfolio__content__image__block {
	width: 49.4%;
	font-size: 0;
}

.single_portfolio__content__info__block {
	flex: 1;
	max-width: 34rem;
}

.single_portfolio_slider {
	width: 100%;
}

.title_y--single_portfolio {
	margin-bottom: 3.25rem;
}

.single_portfolio_slider .slick-arrow:hover {
	background-color: #0a3530;
}

.single_portfolio_slider .slick-next:before {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM17.7071 8.70711C18.0976 8.31658 18.0976 7.68342 17.7071 7.29289L11.3431 0.928932C10.9526 0.538408 10.3195 0.538408 9.92893 0.928932C9.53841 1.31946 9.53841 1.95262 9.92893 2.34315L15.5858 8L9.92893 13.6569C9.53841 14.0474 9.53841 14.6805 9.92893 15.0711C10.3195 15.4616 10.9526 15.4616 11.3431 15.0711L17.7071 8.70711ZM1 9H17V7H1V9Z' fill='%23293840'/%3E%3C/svg%3E%0A");
}

.single_portfolio_slider .slick-arrow:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}

.single_portfolio_slider .slick-arrow:hover:before {
	filter: brightness(0) invert(1);
}

.loaded .single_portfolio_slider .slick-arrow:before {
	transition: 0.35s ease-in-out;
}

.loaded .single_portfolio_slider .slick-arrow {
	transition: 0.35s ease-in-out;
}

.single_portfolio_slider .slick-prev {
	left: 1rem;
}

.default_text {
	color: #4f5553;
	font-size: 0.875rem;
	line-height: normal;
}

.single_portfolio__text {
	margin-top: 3rem;
}

.default_text > * {
	margin-bottom: 1.5rem;
}

.default_text > *:last-child {
	margin-bottom: 0;
}

.single_portfolio_slider .slick-prev::before {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM17 9C17.5523 9 18 8.55228 18 8C18 7.44772 17.5523 7 17 7V9ZM1 9H17V7H1V9Z' fill='%23293840'/%3E%3C/svg%3E%0A");
}

.single_portfolio__char__item__value {
	color: #2d3331;
	font-weight: 700;
}

.single_portfolio__char__item__title {
	color: #2d3331;
	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 0.6rem;
}

.single_portfolio__char__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 2.75rem;
}

.single_portfolio__char__item {
	width: calc(50% - 0.5rem);
}

.page__container.page__container--mb0 {
	padding-bottom: 0;
}
.single_portfolio_slide__inner {
	position: relative;
	padding-top: 62.5%;
}

.single_portfolio_slide__inner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 800px) {
	.single_portfolio__content {
		flex-direction: column;
		gap: 30px;
	}

	.single_portfolio__content__image__block {
		width: 100%;
		max-width: 500px;
	}

	.single_portfolio__content__info__block {
		flex: none;
		max-width: 500px;
		width: 100%;
	}

	.single_portfolio__content__block {
		margin-bottom: 40px;
	}

	.single_portfolio__char__list {
		margin-bottom: 25px;
		gap: 20px 1rem;
	}

	.single_portfolio__char__item__title {
		margin-bottom: 0.25rem;
	}

	.title_y--single_portfolio {
		margin-bottom: 2.25rem;
	}

	.single_portfolio__text {
		margin-top: 2rem;
	}

	.single_portfolio__char__item__title {
		font-size: 10px;
		margin-bottom: 1.5px;
	}
}
