.page__about__info.page__about__info--invest {
	max-width: 40rem;
	padding-bottom: 1.7rem;
}

.page__about__info.page__about__info--invest .page__about__text {
	max-width: 70%;
	margin-top: -2rem;
}

.page__about__more {
	display: flex;
	flex-wrap: wrap;
	gap: 2.05rem;
}

.invest_trigger__item__text {
	color: #4f5553;
	font-size: 0.875rem;
	line-height: 1.25;
}

.invest_trigger {
	background: #fff;
	padding: 4rem 0;
	color: #2d3331;
	border-bottom: 1px solid #0a3530;
}

.invest_trigger__item {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 1;
}

.invest_trigger .container {
	display: flex;
	flex-wrap: wrap;
	max-width: 86.6rem;
}

.invest_trigger__item__val {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.625rem;
	margin-bottom: 0.6rem;
}

.page__about__line__info  p.text_big {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin-bottom: 0.25rem;
}

.page__about__line__info p {
    margin-bottom: 1.75rem;
}

.page__about__line__info p:last-child {
    margin-bottom: 0;
}

.invest_block_form {
    background: #fff;
    color: #2d3331;
    padding: 8.75rem 0;
}

.invest_block_form .container {
    max-width: 57.5rem;
}

.invest_block_form__title_sup {
    color: #4F5553;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem; /* 128.571% */
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.invest_block_form__section {
    margin-top: 2.5rem;
}

.select2-container--default .select2-selection--single {
    border: none;
    border-bottom: 1px solid #919191;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 0.4651rem 1rem;
    height: auto;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66602 1L5.66602 5L9.66602 1' stroke='%23919191' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    height: 87%;
    width: 1.5rem;
    right: 0.75rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.form_y__row--chekbox_title {
    color: #4F5553;
    font-weight: 700;
    line-height: 1.25rem; /* 125% */
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;
}

.form_y__row--chekbox_group__list {
    display: flex;
    max-width: 62rem;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.form_y__row--chekbox_group {
    width: 100%;
    padding-bottom: 0.85rem;
}

.form_y__checkbox {
    width: calc((100% - 2rem )/ 3);
    color: #4F5553;
    line-height: 1.25rem; /* 125% */
    display: flex;
    align-items: center;
    gap: 0.45rem;
}

.form_y__checkbox input {
    position: absolute;
    opacity: 0;
}

.form_y__checkbox__view {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #4F5553;
}

.btn_x--form_contact--big {
    width: 100%;
    max-width: 27rem;
}

.form_y__checkbox input:checked+.form_y__checkbox__view {
    background: #0a3530;
    border-color:#0a3530;
}

.select2-container--default .select2-results>.select2-results__options {
    color: #4f5553;
    font-size: 0.875rem;
}

.select2-results__option {
    padding: 0.35rem 0.75rem;
}

.select2-dropdown {
    border-radius: 0;
    border-color: #919191;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #0a3530;
}

.select2-container--default .select2-results__option--selected {
    background: #000;
    color: #fff;
}
@media screen and (max-width: 800px) {
	.page__about__info.page__about__info--invest .page__about__text {
		margin-top: 0;
	}

    .invest_block_form {
        padding: 4rem 0;
    }
	.invest_trigger__item__val {
		font-size: 2rem;
	}

	.invest_trigger {
		padding: 3.5rem 0;
	}

	.invest_trigger .container {
		padding: 0;
	}
}

@media screen and (max-width: 550px) {
    .invest_block_form {
        padding: 4rem 0;
    }

    label.form_y__checkbox {
        width: calc((100% - 1rem)/ 2);
    }

    .select2-container--default .select2-selection--single {
        padding: 0.4rem 0;
    }

.invest_block_form__section {
    margin-top: 1.5rem;
}

.invest_block_form {
    padding: 2.75rem 0;
}
	.invest_trigger .container {
		flex-direction: column;
		gap: 2.25rem;
	}

	.invest_trigger {
		padding: 2rem 0;
	}

	.invest_trigger__item__val {
		margin-bottom: 0.25rem;
		font-size: 1.75rem;
	}
}
