.green__page .header_main {
	background: #0a3530;
	color: #fff;
	border-bottom-color: rgba(233, 233, 233, 0.4);
}

.green__page .header_menu li {
	border-color: rgba(233, 233, 233, 0.4);
}

.green__page .header_btn_menu span {
	background: #fff;
}

.green__page .header__logo path {
	fill: #fff;
}
.green__page {
	background: #0a3530;
	color: #fff;
}

.title_x.title_x--about__title {
	font-size: 5.5rem;
	font-weight: 700;
	line-height: 106%; /* 5.83rem */
	margin: 0 0 3.45rem;
}

.page__about__title {
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem; /* 133.333% */
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.page__container.page__container--green {
	padding: 0;
}

.page__about__common {
	padding: 5.5rem 0 4.5rem;
	overflow: hidden;
}

.page__about__info {
	max-width: 34rem;
}

.page__about__text {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: normal;
	max-width: 80%;
	margin-bottom: 4rem;
}

.page__about__decore {
	position: absolute;
    font-size: 0;
    bottom: -4.5rem;
    left: calc(50% - 7.5rem);
    display: flex;
    flex-wrap: wrap;
    gap: 0.48rem;
    width: 48rem;
    align-items: flex-end;
    z-index: -1;
}

.page__about__common .container {
	position: relative;
}

.page__about__decore__item {
	flex: 1;
}

.page__about__decore__item__inner {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.page__about__decore__item__inner img {
	width: 100%;
	height: 102%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: 0 100%;
}
.page__about__decore.page__about__decore--about {
    width: 39rem;
    left: 50%;
}

.page__about__decore__item.page__about__decore__item--1 {
	height: 29.25rem;
}

.page__about__decore__item.page__about__decore__item--2 {
	height: 47.35rem;
}

.page__about__more a {
	line-height: 1.375rem; /* 137.5% */
	text-decoration: none;
	color: inherit;
	padding-bottom: 0.5rem;
	display: inline-block;
	position: relative;
}

.page__about__more a:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #727373;
	bottom: -1px;
	transform-origin: 0% 0;
}

.page__about__line.page__about__line--white {
	background: #fff;
	color: #2d3331;
}

.page__about__line {
	padding: 8.5rem 0 7.35rem;
}

.page__about__line__info {
	font-size: 0.875rem;
	padding-top: 0.25rem;
	line-height: normal;
}

.page__about__line .container {
	max-width: 71.55rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2.7%;
}

.page__about__line__col--1 {
	width: 48%;
}

.page__about__line__col--2 {
	width: 49.3%;
}

.loaded .page__about__more a:after {
	transition: transform 0.35s ease-in-out;
}

.page__about__more a:hover:after {
	transform: scaleX(0);
	transform-origin: 100% 0;
}

.page__about__more a:hover {
	color: #647382;
}

.page__about__invest__decore__item.page__about__invest__decore__item--1 {
    clip-path: polygon(evenodd,0 100%,0 30%,100% 30%,100% 100%);
}

.page__about__invest__decore {
    position: absolute;
    top: -3.5rem;
    right: -1rem;
    display: flex;
    width: 62%;
    flex-wrap: wrap;
    z-index: -1;
    bottom: -4.5rem;
}

.page__about__invest__decore__item {
    width: calc((100% - 2rem)/ 2);
    display: flex;
    overflow: hidden;
    margin: 0 0.5rem;
}

.page__about__invest__decore__item__inner {
    display: flex;
}

.page__about__invest__decore__item img {
       position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page__about__invest__decore__item--2 {
    clip-path: polygon(evenodd,0 100%,0 0,100% 0,100% 100%);
}

@media screen and (max-width: 1000px) {
	.title_x.title_x--about__title {
		font-size: 4rem;
		line-height: 1.125;
		margin-bottom: 3.5rem;
	}

	.page__about__text {
		line-height: 1.55;
		max-width: 22rem;
	}

	.page__about__decore {
		left: 30rem;
		width: calc(100vw - 30rem - 1.25rem);
	}

	.page__about__decore__item.page__about__decore__item--1 {
		height: 25rem;
	}

	.page__about__decore__item.page__about__decore__item--2 {
		height: 40rem;
	}

	.page__about__common {
		padding: 5rem 0 4.5rem;
	}

	.page__about__line {
		padding: 4.5rem 0;
	}

	.page__about__line__col--1 {
		width: 35%;
	}

	.page__about__line__col--2 {
		flex: 1;
	}

	.page__about__decore__item__inner img {
		width: 101.5%;
		max-width: none;
	}
	.page__about__decore.page__about__decore--about {
		left: 30rem;
		width: calc(100vw - 30rem - 0.5rem);
	}
}

@media screen and (max-width: 800px) {
	.page__about__invest__decore {
		right: 0.25rem;
		top: -2rem;
		bottom: -3.5rem;
		width: 75%;
	}
	.title_x.title_x--about__title {
		font-size: 32px;
		margin-bottom: 26px;
		line-height: 1.2;
	}

	.page__about__info {
		max-width: 20rem;
	}

	.page__about__text {
		font-size: 0.775rem;
		line-height: 1.55;
		margin-bottom: 32px;
	}

	.page__about__more a {
		font-size: 0.875rem;
	}

	.page__about__title {
		margin-bottom: 1rem;
	}

	.page__about__common {
		padding: 3.5rem 0;
	}

	.page__about__decore {
		right: 0.5rem;
		width: 28rem;
		bottom: -3.5rem;

	}

	.page__about__decore__item.page__about__decore__item--2 {
		height: 30rem;
	}

	.page__about__decore__item.page__about__decore__item--1 {
		height: 20.25rem;
	}

	.page__about__line {
		padding: 3.25rem 0 4rem;
	}

	.page__about__line__info {
		padding-top: 0;
	}
	.page__about__decore.page__about__decore--about {
		left: auto;
		width: 28rem;
		max-width: none;
		right: 0.5rem;
	}
}

@media screen and (max-width: 550px) {
	.page__about__invest__decore {
		right: -1.25rem;
		top: -2rem;
		bottom: -3.5rem;
		width: 75%;
	}

	.page__about__invest__decore__item {
		margin: 0 0.25rem;
	}
	.page__about__line .container {
		flex-direction: column;
		gap: 1.25rem;
	}
	.page__about__decore.page__about__decore--about {
		left: 7.5rem;
		width: auto;
	}

	.page__about__line__col--1 {
		width: 100%;
	}

	.page__about__line__col--2 {
		width: 100%;
		flex: auto;
	}

	.page__about__line__info {
		line-height: 1.65;
	}

	.page__about__line {
		padding: 2.75rem 0 3rem;
	}

	.page__about__decore {
		left: 7.5rem;
		right: 0.4rem;
		width: auto;
	}
}
