.contact__main .container {
	padding: 0;
	max-width: 100%;
}

.contact__main__row {
	display: flex;
	flex-wrap: wrap;
}

.contact__main__info {
	width: 42.025rem;
	background: #0a3530;
	color: #fff;
}

.contact__main__info__image img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
}

.contact__main__info__image {
	font-size: 0;
}

.contact__main__info__image__inner {
	position: relative;
	padding-top: 36.4%;
}

.contact__main__info__section {
	padding: 3.5rem 3.5rem 3.05rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.contact__main__info__item__title {
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.33;
	text-transform: uppercase;
	margin-bottom: 0.1rem;
}

.contact__main__info__item__value {
	font-weight: 700;
	line-height: normal;
}

.contact__main__info__row {
	display: flex;
	flex-wrap: wrap;
	gap: 1.75rem 1rem;
}

.contact__main__info__item {
	flex: 1 0 calc(50% - 0.5rem);
}

.contact__main__info__item__value a {
	color: inherit;
	text-decoration: none;
}

.contact__main__info__social {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.contact__main__info__social a {
	display: flex;
	width: 2rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
}

.contact__main__info__social a svg {
	width: 70%;
	height: auto;
}

.contact__main__info__item__value a:hover {
	opacity: 0.4;
}

.contact__main__info__social a:hover {
	opacity: 0.4;
}

.contact__main__form {
	flex: 1;
	padding: 5.88rem 3.5rem;
    position: relative;
}

.title_form_contact_up {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem; /* 128.571% */
	text-transform: uppercase;
	margin-bottom: 0.325rem;
}

.form_y__row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.form_y__item {
	flex: 1;
}

.title_form_contact__block {
	margin-bottom: 4rem;
}

.form_y__item input,
.form_y__item textarea {
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #919191;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.25rem; /* 125% */
	padding: 0.71rem 1rem;
}

.form_y {
	display: flex;
	flex-direction: column;
	gap: 2.275rem;
}

.form_y__item textarea {
	height: 2.75rem;
	resize: vertical;
}

.btn_green {
	background: #0a3530;
	color: #fff;
}
.btn_x--form_contact{background: #0a3530;
	color: #fff;}

.btn_x {
	padding: 0.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_y__row.form_y__row--btn {
	margin-top: -0.675rem;
}

.btn_animate_top span {
	position: relative;
	z-index: 1;
}

.btn_x--form_contact {
	width: 100%;
	max-width: 20.025rem;
	overflow: hidden;
}

.btn_animate_top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0 0%;
	transform: scaleY(0);
}

.btn_animate_top.btn_green:hover:after {
	background: #365955;
}
.btn_animate_top.btn_x--form_contact:hover:after {
	background: #365955;
}

.page__container.page__container--contact {
    padding: 0;
}

.btn_animate_top:hover:after {
	transform: scaleY(1);
	transform-origin: 0 100%;
}

.btn_animate_top {
	position: relative;
}

.loaded .btn_animate_top:after {
	transition: background-color 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.contact__map__inside img {
	width: 100%;
}
.contact__main__form__thanks {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5.88rem 3.5rem;
}
.text_form_contact--thanks {
    margin-top: 0.85rem;
    font-size: 0.9rem;
}

.contact__map {font-size: 0;}

.map__contact__section {
    height: 40rem;
}
@media screen and (max-width: 1000px) {
	.map__contact__section {
		height: 30rem;
	}
	.contact__main__info {
		width: 50%;
	}
    .contact__main__form__thanks {
        padding: 4rem 3rem;
    }
	.contact__main__form {
		padding: 4rem 3rem;
	}

	.contact__main__info__section {
		padding: 2.5rem;
		gap: 2rem;
	}

	.contact__main__info__item__title {
		font-size: 0.6rem;
	}

	.title_form_contact__block {
		margin-bottom: 2.75rem;
	}

	.title_form_contact_up {
		font-size: 0.75rem;
		margin-bottom: 0.425rem;
	}
}

@media screen and (max-width: 850px) {
	.contact__main__info {
		width: 100%;
	}

	.contact__main__form {
		width: 100%;
		padding: 3rem 2.5rem;
	}

    .contact__main__form__thanks {
        padding: 3rem 2.5rem;
        width: 100%;
    }

    .contact__main__form {
        min-height: 155px;
    }
}

@media screen and (max-width: 550px) {
	.contact__main__info__image__inner {
		padding-top: 50%;
	}

	.contact__main__info__section {
		padding: 32px 20px;
		gap: 2.25rem;
	}

	.contact__main__info__item__value {
		font-size: 13px;
		max-width: 230px;
		margin-top: 5px;
	}

	.contact__main__info__row {
		gap: 2.225rem;
		flex-direction: column;
	}

	.contact__main__form {
		padding: 32px 20px;
        min-height: 135px;
	}

	.title_form_contact_up {
		margin-bottom: 0.45rem;
	}

	.title_form_contact__block {
		margin-bottom: 2rem;
	}

	.form_y__row {
		flex-direction: column;
		gap: 1.5rem;
	}

	.form_y__item input,
	.form_y__item textarea {
		padding: 0.75rem 0;
	}

	.form_y {
		gap: 1.5rem;
	}

	.form_y__item textarea {
		height: 80px;
	}

	.btn_x--form_contact {
		max-width: 520px;
	}
    .contact__main__form__thanks{
        padding: 32px 20px;
    }
}
