.page__container--portfolio .container {
	max-width: 85.6rem;
}

.title_y--main {
	margin: 0 0 1.65rem;
}

.page__container.page__container--portfolio {
	padding-bottom: 8.6rem;
}

.portfolio__page__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.9rem 1rem;
}

.portfolio_card {
	border: 1px solid #e9e9e9;
	background: #fff;
	width: calc((100% - 3rem) / 4);
	display: flex;
	flex-direction: column;
}

.portfolio_card__image {
	overflow: hidden;
	display: block;
	position: relative;
	font-size: 0;
}

.portfolio_card__image__inner {
	padding-top: 62.5%;
}

.portfolio_card__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.loaded .portfolio_card__image img {
	transition: 0.35s ease-in-out;
}

.portfolio_card__image:hover img {
	transform: scale(1.065) translate(0, 0.35rem);
}

.portfolio_card__title {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: normal;
}

.portfolio_card__title a {
	color: inherit;
	text-decoration: none;
}

.portfolio_card__info {
	padding: 2rem 1rem 1rem;
	gap: 0.926rem;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.portfolio_card__cat {
	color: #4f5553;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem; /* 128.571% */
	text-transform: uppercase;
	margin-bottom: 0.6rem;
}

.portfolio_card__info__bottom {
	border-top: 1px solid #e9e9e9;
	padding: 1rem 0 0;
}

.portfolio_card__date {
	color: #919191;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.125rem; /* 150% */
	text-transform: uppercase;
}

.portfolio_card__info__top {
	flex: 1;
}

.portfolio_card__title a:hover {
	color: #0a3530;
	opacity: 0.5;
}

@media screen and (max-width: 1000px) {
	.portfolio_card__title {
		font-size: 1.15rem;
		line-height: 1.25;
	}

	.portfolio_card__cat {
		font-size: 0.8rem;
	}

	.portfolio_card {
		width: auto;
		flex: 1 0 220px;
	}
	.page__container--portfolio .container {
		max-width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.page__container.page__container--portfolio {
		padding-bottom:  2.75rem;
	}
}
