.loaded .modal__menu {
	transition: 0.5s ease-in-out;
}

.modal__menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	overflow: scroll;
	pointer-events: none;
	max-width: 100%;
	width: 100%;
	background: #fff;
	visibility: hidden;
	color: $textColor;

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
}

.modal__menu::-webkit-scrollbar {
	display: none;
}

.modal__menu {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.modal__menu {
	background: #0a3530;
	color: #fff;
}

.modal__menu__decore {
	color: rgba(255, 255, 255, 0.05);
	position: absolute;
	font-size: 115.89438rem;
	line-height: normal;
	text-transform: uppercase;
	top: -61rem;
	left: -3rem;
	font-weight: 500;
	pointer-events: none;
	z-index: -1;
}

.modal__menu__image {
	position: absolute;
	right: 0;
	width: 30.1rem;
	font-size: 0;
	top: 0;
	z-index: 2;
}

.modal__menu__logo {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	width: 30rem;
	padding: 2rem 10.05rem;
	font-size: 0;
	top: 0;
}

.modal__menu__logo svg {
	width: 100%;
	height: auto;
}

.modal__menu__logo path {
	fill: #fff;
}

.modal__menu__top {
	width: 100%;
	padding: 2.5rem 4.2rem 2.45rem;
	position: relative;
	border-bottom: 1px solid rgba(233, 233, 233, 0.4);
}

.modal__menu__btn_close {
	width: 2rem;
	height: 2rem;
	border: none;
	background: transparent;
	margin-left: -2.55rem;
}

.modal__menu__btn_close svg {
	width: 70%;
	height: auto;
}

.modal__menu__inner:before {
	content: '';
	position: absolute;
	left: 29.775rem;
	top: 0;
	background: rgba(233, 233, 233, 0.4);
	width: 1px;
	pointer-events: none;
	bottom: 0;
}

.modal__menu__btn_close:hover {
	opacity: 0.5;
}

.loaded .modal__menu__btn_close:hover {
	transition: 0.35s;
}

.modal__menu__list a {
	color: inherit;
	font-size: 2rem;
	font-weight: 600;
	line-height: normal;
	text-decoration: none;
}

.modal__menu__content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	flex-direction: row-reverse;
	max-width: 59.95rem;
	padding-top: 11rem;
}

.modal__menu__list ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.04rem;
}

.modal__menu__list a:hover {
	opacity: 0.5;
}

.modal__menu__list {
	width: 29.9rem;
	padding-left: 3.5rem;
}

.modal__menu__contact {
	flex: 1;
	padding-left: 3.5rem;
	display: flex;
	flex-direction: column;
	gap: 3.25rem;
}

.modal__menu__contact__item__value {
}

.modal__menu__contact__item__value {
	font-weight: 700;
	line-height: normal;
}

.modal__menu__contact__item {
	max-width: 11rem;
}

.modal__menu__contact__item__social a {
	text-decoration: none;
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
}

.modal__menu__contact__item__social {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.modal__menu__contact__item__social a svg {
	width: 75%;
	height: auto;
}

.modal__menu__contact__item__social a:hover {
	opacity: 0.4;
}

.modal__menu__contact__item__title {
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem; /* 133.333% */
	text-transform: uppercase;
}

.modal__menu__contact__item__value a {
	color: inherit;
	text-decoration: none;
}

.modal__menu__contact__item__value a:hover {
	opacity: 0.4;
}
.modal__menu__inner {
	position: relative;
	overflow: hidden;
	padding-bottom: 6rem;
}

.modal__menu__image img {
	width: 100%;
	height: auto;
}
.modal__menu__contact {
	transition: 0.5s ease-in-out 0.65s;
	opacity: 0;
	transform: translate(0, 1.5rem);
}

.modal__menu.active .modal__menu__contact {
	opacity: 1;
	transform: translate(0, 0rem);
}

.modal__menu__list {
	transition: 0.5s ease-in-out 0.65s;
	opacity: 0;
	transform: translate(0, 1.5rem);
}

.modal__menu.active .modal__menu__list {
	opacity: 1;
	transform: translate(0, 0rem);
}

.modal__menu__image img {
	transition: 1s ease-in-out 0.5s;
	transform: scale(1);
}
.modal__menu__image {
	overflow: hidden;
}
.modal__menu.active .modal__menu__image img {
	transform: scale(1.05);
	opacity: 1;
}

@media screen and (max-width: 1000px) {
	.modal__menu__logo {
		padding: 1.5rem 2.25rem;
		width: 175px;
		transform: translate(0, 0);
	}

	.modal__menu__top {
		padding: 1.643rem 2rem;
	}

	.modal__menu__btn_close svg {
		width: 60%;
	}
	.modal__menu__btn_close {
		margin-left: 0;
	}

	.modal__menu__inner:before {
		left: calc((100vw - 20rem) / 2 - 4%);
	}

	.modal__menu__contact {
		padding-left: 2rem;
	}

	.modal__menu__content {
		padding-right: 20rem;
		padding-top: 10rem;
		max-width: none;
	}

	.modal__menu__list {
		padding-left: 2rem;
		flex: 1;
	}

	.modal__menu__decore {
		font-size: 95rem;
		top: -46rem;
		left: 0;
	}

	.modal__menu__image {
		width: 20rem;
		bottom: 0;
	}

	.modal__menu__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.modal__menu__list a {
		font-size: 1.65rem;
	}

	.modal__menu__list ul {
		gap: 1.75rem;
	}

	.modal__menu__inner {
		padding-bottom: 5rem;
		min-height: 100vh;
	}
}

@media screen and (max-width: 800px) {
	.modal__menu__content {
		flex-direction: column;
		align-items: flex-start;
		gap: 3rem;
		padding-top: 3rem;
	}

	.modal__menu__list a {
		font-size: 1.25rem;
	}

	.modal__menu__logo {
		position: static;
		margin: 0;
		padding: 1.1545rem 20px;
		width: 130px;
		transform: none;
		border-right: 1px solid rgba(233, 233, 233, 0.4);
		display: block;
	}

	.modal__menu__top {
		padding: 0;
		position: relative;
	}

	.modal__menu__btn_close {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		height: 61px;
		width: 60px;
		border-left: 1px solid #6e8381;
	}

	.modal__menu__btn_close svg {
		width: 32.5%;
	}
	.modal__menu__inner:before {
		display: none;
	}

	.modal__menu__image {
		top: 61px;
		width: 200px;
	}

	.modal__menu__list ul {
		gap: 1.4rem;
	}

	.modal__menu__contact__item__value {
		font-size: 0.9rem;
	}

	.modal__menu__contact__item__title {
		font-size: 0.65rem;
		margin-bottom: 6px;
	}

	.modal__menu__contact {
		gap: 2.5rem;
	}

	.modal__menu__decore {
		left: -10rem;
		top: -40rem;
	}
}

@media screen and (max-width: 550px) {
	.modal__menu__image {
		width: 125px;
	}

	.modal__menu__content {
		padding-right: 0;
	}

	.modal__menu__inner {
		padding-bottom: 3.5rem;
	}
}
