.loader_x {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #0a3530;
    z-index: 15;
    opacity: 0;
    pointer-events: none;
}


.loaded .loader_x {
    transition: .35s ease-in-out;
}
.loader_x.visible {
    opacity: 1;
    pointer-events: all;
}

.loader_x.showed {
    opacity:0;
    pointer-events: none;
    z-index: -1;
}


.loader_x__content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader_x__content svg path {
    fill: #fff;
}

.loader_x__content svg {
    width: 15rem;
    height: auto;
    opacity: 0  ;
}

.loader_x.visible svg {
    opacity: 1;
    transition-delay: 0.44s;
}

.loader_x svg {
    transition: 0.35s ease-in-out;
}

.loader_x.showed_forlogo svg g:first-child {
    transform: translate(0,-0.15rem);
    opacity: 0;
}

.loader_x.showed_forlogo svg g:last-child {
    transform: translate(0,0.15rem);
    opacity: 0;
}

.loaded .loader_x.showed_forlogo svg g {
    transition: 0.35s ease-in-out;
}