.main_footer_2 {
	background: #0a3530;
	color: #fff;
}

.contact__map {
	font-size: 0;
}

.main_footer__menu_2 ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.main_footer__menu_2 a {
	color: inherit;
	text-decoration: none;
	font-size: 0.875rem;
	line-height: 1.125rem;
}

.main_footer__row_2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 3.85rem 0 3.95rem;
	gap: 2rem;
}

.main_footer__menu_2 {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.225rem;
}

.main_footer_2 .container {
	max-width: 88.5rem;
}

.main_footer__menu_2 a:hover {
	opacity: 0.4;
}

.main_footer__add__logo_2 {
	font-size: 0;
	display: block;
	width: 9rem;
}

.main_footer__add__logo_2 svg {
	width: 100%;
	height: auto;
}

.main_footer__add_2 {
	margin-top: 0.3rem;
	text-align: right;
}

.main_footer__add__copyright_2 {
	font-size: 0.875rem;
	margin-top: 0.65rem;
}

.main_footer__decore {
	color: rgba(255, 255, 255, 0.18);
	text-align: center;
	font-size: 115.89438rem;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	position: absolute;
	left: 64.5%;
	top: -12.75rem;
	z-index: 1;
	pointer-events: none;
	line-height: 0.715;
}

.main_footer {
	position: relative;
	background: #0a3530;
	color: #fff;
}

.main_footer__name {
	position: absolute;
	transform: rotate(180deg);
	right: 0.5rem;
	color: #fff;
	font-size: 10.125rem;
	font-weight: 500;
	line-height: 12.5rem; /* 123.457% */
	text-transform: uppercase;
	top: 11rem;
	writing-mode: tb-rl;
	white-space: nowrap;
	pointer-events: none;
}

.main_footer__col_1 {
	border-right: 1px solid rgba(233, 233, 233, 0.4);
	border-bottom: 1px solid rgba(233, 233, 233, 0.4);
	width: 29.88rem;
	padding-left: 3.5rem;
	padding-bottom: 3.35rem;
	padding-top: 3.85rem;
}

.main_footer__row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.main_footer__info__item__value {
	font-weight: 700;
	line-height: normal;
	max-width: 12rem;
}

.main_footer__info__list {
	gap: 3.5rem;
	display: flex;
	flex-direction: column;
}

.main_footer__info__item__title {
	font-size: 0.75rem;
	font-weight: 500;
	/* 133.333% */
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}

.main_footer__row:last-child .main_footer__col_1 {
	border-bottom: none;
}

.main_footer__info__item__value a {
	color: inherit;
	text-decoration: none;
}

.main_footer__col_2 {
	padding: 0 3.6rem;
	flex: 1;
}

.main_footer__row {
}

.main_footer__col--pt_big {
	padding-top: 16rem;
}

.main_footer__col_1.main_footer__col--pt_big {
	padding-top: 16.8rem;
	padding-bottom: 7rem;
}

.main_footer__info__item__social {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.main_footer__info__item__social a {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_footer__info__item__social a svg {
	width: 85%;
	height: auto;
}

.main_footer__info__item__social a:hover {
	opacity: 0.5;
}

.main_footer__info__item__value a:hover {
	opacity: 0.5;
}

.form__footer__title {
	margin-bottom: 4rem;
}

.main_footer__section {
	max-width: 69.5rem;
}

.main_footer .container {
	max-width: 100%;
	padding: 0;
}

.main_footer__menu ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.2rem 1.05rem;
}

.main_footer__menu a {
	color: inherit;
	font-size: 0.875rem;
	text-decoration: none;
}

.main_footer__menu {
	max-width: 20rem;
	margin-bottom: 0.85rem;
}

.main_footer__copyright {
	font-size: 0.875rem;
}

.main_footer__menu a:hover {
	opacity: 0.5;
}

.form__footer .form_y__item input,
.form__footer .form_y__item textarea {
	background: transparent;
	color: #fff;
	border-color: #fff;
}

.form__footer .form_y__item input::placeholder,
.form__footer .form_y__item textarea::placeholder {
	color: #fff;
}

.form__footer .btn_x--form_contact {
	background: #fff;
	color: #093530;
}

.form__footer .btn_x--form_contact:hover:after {
	background: #3a5a55;
}

.form__footer .btn_x--form_contact:hover {
	color: #fff;
}

@media screen and (max-width: 800px) {
	.main_footer__row_2 {
		padding: 3.25rem 0 2.75rem;
	}

	.main_footer__add__logo_2 {
		width: 8.5rem;
	}

	.main_footer__add__copyright_2 {
		font-size: 11px;
	}
}
@media screen and (max-width: 550px) {
	.main_footer__row_2 {
		padding: 2.75rem 0 2.5rem;
		gap: 2.25rem;
	}

	.main_footer__menu_2 {
		flex: none;
		width: 100%;
		text-align: center;
		justify-content: center;
		display: flex;
		gap: 0.5rem;
	}

	.main_footer__menu_2 ul {
		justify-content: center;
	}

	.main_footer__add_2 {
		text-align: center;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		margin: 0;
	}

	.main_footer__add__copyright_2 {
		font-size: 10px;
		margin-top: 8px;
	}
}

@media screen and (max-width: 1000px) {
	.main_footer__col_2 {
		padding: 0 3rem;
	}
	.main_footer__col--pt_big,
	.main_footer__col_1.main_footer__col--pt_big {
		padding-top: 7.5rem;
	}

	.main_footer__section {
		max-width: 100%;
		padding-right: 10rem;
	}

	.main_footer__col_1 {
		width: 19rem;
		padding-left: 2.5rem;
		padding-bottom: 3rem;
		padding-top: 3rem;
	}

	.main_footer__name {
		font-size: 10rem;
		top: 3.5rem;
		right: -1rem;
	}
}

@media screen and (max-width: 800px) {
	.main_footer__section {
		padding-right: 0;
	}

	.main_footer__decore {
		font-size: 1000px;
		top: 4%;
		left: 30%;
		opacity: .5;
	}

	.main_footer__name {
		position: static;
		writing-mode: horizontal-tb;
		transform: none;
		font-size: 32px;
		line-height: 1;
		margin-bottom: 34px;
	}

	.main_footer .container {
		padding: 0 1.25rem;
	}

	.main_footer__section {
		margin: 0 -1.25rem;
		max-width: 100vw;
	}

	.main_footer {
		padding: 40px 0 0;
	}

	.main_footer__col_1 {
		width: 100%;
		border-right: none;
	}

	.main_footer__col_1 {
		padding: 3rem 1.25rem;
	}

	.main_footer__col--pt_big,
	.main_footer__col_1.main_footer__col--pt_big {
		padding-top: 0;
		padding-bottom: 3rem;
	}

	.main_footer__info__item__value {
		max-width: 20rem;
	}

	.main_footer__info__list {
		gap: 2.75rem;
	}

	.main_footer__col_2 {
		padding: 3rem 1.25rem;
	}

	.title_y.form__footer__title {
		font-size: 24px;
		margin-bottom: 2rem;
	}

	.main_footer__col--pt_big,
	.main_footer__col_2.main_footer__col--pt_big {
		border-bottom: 1px solid rgba(233, 233, 233, 0.4);
	}

	.main_footer__col__empty {
		display: none;
	}
}
