.header__logo {
	display: inline-flex;
	align-items: center;
}

.header_btn_menu {
	align-items: center;
	justify-content: center;
	width: 5.37rem;
	height: calc(100% + 1px);
	position: relative;
	background: 0 0;
	border: none;
	appearance: none;
	border-radius: 0;
	display: flex;

	span {
		background: $textColor;
		width: 65%;
		height: 0.12rem;
		position: absolute;
		margin: auto;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		transition: 0.5s;

		&:nth-child(1) {
			transform: translate(0, -0.25rem);
		}

		&:nth-child(2) {
			transform: translate(0, 0.25rem);
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				transform: translate(0, 0) rotate(45deg);
			}

			&:nth-child(2) {
				transform: translate(0, 0) rotate(-45deg);
			}
		}
	}
}

.header__logo {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	width: 30rem;
	padding: 2rem 10.05rem;
}

.header_main .container {
	position: relative;
}

.header_menu ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.header_menu a {
	color: inherit;
	text-decoration: none;
	padding: 2.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
}

.header_menu {
	width: auto;
	padding: 0;
	display: flex;
	padding-left: 0.27rem;
}

.header_btn_menu {
	position: absolute;
	left: -3.85rem;
	top: 50%;
	transform: translate(0, -50%);
}

.header__logo svg {
	width: 100%;
	height: auto;
}
.header_btn_menu__inner {
	position: relative;
	width: 2rem;
	height: 2rem;
}

.header_btn_menu:hover {
	background: #0a3530;
}

.header_btn_menu:hover span {
	background: #fff;
}

.loaded .header_btn_menu {
	transition: 0.25s ease-in-out;
}

.header_menu li {
	width: 12.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
li.header_menu__space {
	width: 30.375rem;
	pointer-events: none;
}

.header_menu li {
	border-right: 1px solid #e9e9e9;
	height: 100%;
}

.header_main {
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    margin-bottom: -1px;
    position: fixed;
    top: 0;
    z-index: 5;
    left: 0;
    width: 100%;
}
.header_main .container{
max-width: 82.4rem;
}
.header_menu li:last-child {
	border: none;
}

.header_menu a:hover {
	background: #0a3530;
	color: #fff;
}
.header_menu a:hover:after {
	opacity: 1;
}
.loaded .header_menu a:after {
	transition: 0.25s ease-in-out;
}
.header_menu a:after {
	opacity: 0;
	content: '';
	position: absolute;
	bottom: -1px;
	width: 100%;
	left: 0;
	height: 1px;
	background: #0a3530;
}

@media screen and (max-width: 1000px) {
	.header_btn_menu {
        left: 0;
        width: 4.6rem;
	}

	.header__logo {
        padding: 1.5rem 2.25rem;
        width: 175px;
        transform: translate(0px,0);
	}

	.header_menu li {
		width: 16vw;
	}

	li.header_menu__space {
		flex: 1;
		width: auto;
	}

	.header_menu ul {
		width: 100%;
	}

	.header_menu {
		padding: 0 64px;
	}

	.header_menu a {
        padding: 2rem 1.75rem;
        font-size: 14.5px;
	}

	.header_main .container {
		padding: 0;
	}
}

@media screen and (max-width: 800px) {
	.header_menu {
		display: none;
	}

	.header__logo {
		position: static;
		margin: 0;
		padding:1.1545rem 20px;
		width: 130px;
		transform: none;
		border-right: 1px solid #e9e9e9;
	}

	.green__page .header__logo{border-color: rgba(233,233,233,.4);}
	.green__page  .header_btn_menu{border-color: rgba(233,233,233,.4);}

	.header_btn_menu {
		position: relative;
        right: 0;
        top: 0;
        transform: none;
        border-left: 1px solid #e9e9e9;
        height: 61px;
        width: 60px;
        left: auto;
        margin-bottom: -1px;
	}

	.header_main .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}

	.header_btn_menu span {
        width: 57.5%;
        height: 2px;
	}

	.header_btn_menu:hover {
		background: #0a3530;
		border-left-color: #fff;
	}

	.header_btn_menu:hover span {
		background: #fff;
	}
    .header_btn_menu__inner {
        width: 2.75rem;
        height: 2.5rem;
    }
}
