html {
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html * {
	max-height: 1000000px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

a[href^='http']:empty::before {
	content: attr(href);
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

label,
button,
select {
	cursor: pointer;
}

label[for] {
	cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
	outline: none;
}

a,
button {
	cursor: pointer;
}

html {
	font-size: 16px;
	font-size: 1.11025vw;
}
body {
	font-family: $font;
	line-height: 1.4;
	color: $textColor;
}

.loaded a {
	transition: 0.25s ease-in-out;
}

.loaded .btn_default {
	transition: 0.25s ease-in-out;
}

.btn_default {
	appearance: none;
	border-radius: 0;
	border: none;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.hide_scrollbar::-webkit-scrollbar {
	display: none;
}

.hide_scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.page__wrap {
	overflow: hidden;
	padding-top: 6.95rem;
}

.container {
	margin: 0 auto;
	padding: 0 1.25rem;
	max-width: 85.6rem;
	width: 100%;
}
.page__container {
    padding: 3.85rem 0;
	position: relative;
}
.title_y {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.25; /* 105% */
	margin: 0;
}

body.body-lock {
    overflow: hidden!important;
    touch-action: none;
    height: auto!important;
}
@media screen and (max-width: 1000px) {
	.title_y {
		font-size: 1.95rem;
	}
}

@media screen and (max-width: 550px) {
	.title_y {
		font-size: 24px;
	}
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 14px;
	}
	.page__wrap {
		padding-top: 5.6rem;
	}
}

@media screen and (max-width: 800px) {
.page__wrap {
    padding-top: 4.3rem;
}
}

@media screen and (max-width: 550px) {
	.page__container {
		padding:  2.75rem 0;
	}
}