.home_promo__section {
	position: relative;
	min-height: 47.35rem;
	display: flex;
}

.home_promo__info {
	position: absolute;
	right: 0;
	width: 24rem;
	top: 1rem;
	z-index: 1;
}

.page__container.page__container--home {
	padding: 0;
}

.home_promo {
	padding: 2rem 0;
}

.home_promo__title.title_y {
	line-height: 1.075;
	margin-bottom: 1.35rem;
}

.home_promo__text {
	max-width: 24rem;
	font-size: 0.875rem;
	line-height: normal;
	margin-bottom: 3.65rem;
}

.home_promo__image.home_promo__image--1 {
	clip-path: polygon(evenodd, 0 100%, 0 0, 100% 0, 100% 100%);
	height: 100%;
	flex-grow: 1;
}

.link_more_x {
	color: inherit;
	text-decoration: none;
	position: relative;
}

.link_more_x:after {
	content: '';
	width: 100%;
	left: 0;
	bottom: -0.5rem;
	background: currentColor;
	height: 1px;
	position: absolute;
	transform-origin: 0 0;
	pointer-events: none;
}
.link_more_x:hover:after {
	transform: scaleX(0);
	transform-origin: 100% 0;
}

.link_more_x:after {
	transition: transform 0.35s ease-in-out;
}

.home_promo__images {
	position: relative;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.home_promo__image img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home_promo__image.home_promo__image--2 {
	clip-path: polygon(evenodd, 0 100%, 0 25%, 100% 25%, 100% 100%);
	margin: 0 2rem;
}

.home_promo__image.home_promo__image--3 {
	clip-path: polygon(evenodd, 0 100%, 0 50%, 100% 50%, 100% 100%);
}

.home_promo__image {
	width: calc((100% - 4rem) / 3);
	overflow: hidden;
}

.home_portfolio__trigger__item__value {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.625rem; /* 105% */
	margin-bottom: 0.55rem;
}

.home_portfolio__trigger__item__text {
	font-size: 0.875rem;
	line-height: normal;
}

.home_portfolio__text {
	font-size: 0.875rem;
	line-height: normal;
	margin-bottom: 3rem;
}

.home_portfolio .container {
	display: flex;
	flex-wrap: wrap;
}

.home_portfolio__info {
	max-width: 26.55rem;
}

.home_portfolio {
	padding: 6.7rem 0 1.3rem;
}

fle {
}

.home_portfolio__trigger__section {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	padding-left: 1.5rem;
}

.home_portfolio__trigger__section_x--1 {
	width: 28.6rem;
	display: flex;
	flex-wrap: wrap;
	gap: 5rem 0%;
}

.home_portfolio__trigger__section_x--2 {
	padding-left: 6.4rem;
	flex: 1;
}

.home_portfolio__trigger__item {
	flex: 1 0 50%;
}

.home_about__image__bg {
	position: absolute;
	width: 68.23%;
	left: 0;
	top: 0;
	height: 5.6rem;
	background: #fff;
	z-index: 1;
}

.home_about__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    overflow: hidden;
}

.home_about .container {
	position: relative;
}

.home_about__section {
	position: relative;
}

.home_about__info {
	position: relative;
	z-index: 2;
	color: #fff;
	text-align: center;
	max-width: 30rem;
	margin: 0 auto;
	padding: 13.65rem 0 8.1rem;
}

.home_about__info__subtitle {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem; /* 128.571% */
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.home_about__info__title.title_y {
	line-height: 105%;
}

.home_about__image__inner {
	padding-top: 35.1%;
	position: relative;
	width: 100%;
}

.home_about__image__inner img {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.decore__home__line {
	position: absolute;
	left: 0;
	width: 100%;
	top: -10rem;
    bottom:0;
	z-index: 0;
	pointer-events: none;
}

.decore__home__line--1 {
	width: 0.0625rem;
	background: #e9e9e9;
	position: absolute;
	top: 0;
	left: 33.1%;
}

.decore__home__line--2 {
	width: 0.0625rem;
	background: #e9e9e9;
	position: absolute;
	top: 0;
	left: 66.8%;
}

.home_about__image__bg:before {
	content: '';
	position: absolute;
	left: 46.4%;
	height: 100%;
	width: 0.0625rem;
	background: #e9e9e9;
}

.home_sticky_title.active {
	opacity: 1;
	z-index: 1;
    transform: translate(0,0rem);
}

.home_sticky_title {
	opacity: 0;
    position: absolute;
    transition: 0.35s ease-in-out;
    transform: translate(0,1rem);
    width: 100%;
}
.home_sticky_title__list {
    height: 9.35rem;
}

.home_sticky_list{position: relative;top:0;left:0}
.home_sticky_title a {
	text-decoration: none;
	color: inherit;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: normal;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3.55rem 2rem;
}

.home_sticky_row {
	display: flex;
	flex-wrap: wrap;
    align-items:flex-start
}

.home_sticky_content__block {
	width: calc(100% - 26.325rem);
	background: #0a3530;
	color: #fff;
	padding: 0rem 2rem;
    position: relative;
}

.home_sticky_title__block {
	width: 26.325rem;
    position: sticky;
    top: 5.5rem;
}
.sticky_title__block_2 {
    position: sticky;
    top: 5.5rem;
}


.home_sticky_content__section__title {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.875rem; /* 150% */
	margin-bottom: 0.2rem;
}

.home_sticky_content__section__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.05rem;
}

.home_sticky_section {
	position: relative;
	z-index: 1;
}

.home_sticky_content__section__list ul {
	flex: 1;
	padding-left: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.home_sticky_content__section {
    margin-bottom: 4rem;
    position: absolute;
    left: 2rem;
    top: 3.5rem;
}
.home_sticky_content__section{opacity: 0;transition: 0.35s ease-in-out;}
.home_sticky_content__section.active{opacity: 1;}

.home_sticky_content__section:last-child {
	margin-bottom: 0;
}

.home_about_x {
	padding-top: 8.75rem;
	padding-bottom: 8.75rem;
}

.home_about_x .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 3.35rem;
}

.home_about__title__decore {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.home_about__info_x {
	width: 23rem;
	padding-top: 3rem;
}

.title_y.home_about__title_x {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.625rem; /* 105% */
	margin-bottom: 2.5rem;
}

.home_about__text_x {
	color: #4f5553;
	font-size: 0.875rem;
	line-height: normal;
	margin-bottom: 3rem;
}

.home_about__image_x {
	flex: 1;
	position: relative;
	z-index: 2;
}

.home_about__image__inne_x {
	padding-top: 79.26%;
	position: relative;
    overflow: hidden;
}

.home_about__image__inne_x img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home_about__image__line_x {
	position: absolute;
	background: #fff;
	height: 12.75rem;
}

.home_about__image__line_x--1 {
	top: 0;
	right: 0;
	width: 26.35rem;
}

.home_about__image__line_x--2 {
	left: 0;
	bottom: 0;
	width: 30.345rem;
}

.home_about__title__decore__text {
	font-size: 17.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: 0.705;
	text-transform: uppercase;
	z-index: 2;
	position: absolute;
	white-space: nowrap;
}

.home_about__title__decore__text--1 {
    bottom: 0.25rem;
    left: -2.25rem;
    width: 60.25rem;
    overflow: hidden;
}

.home_about__title__decore__text.home_about__title__decore__text--2 {
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	bottom: 0.25rem;
}

.home_about__title__decore__text.home_about__title__decore__text--2
	.home_about__title__decore__text__inner {
        margin-left: 10.1rem;
}
.home_about__title__decore__text--1 .home_about__title__decore__text__inner.__animate__home_about__title__decore__text {
    margin-left: 40rem;
}

.home_aquisitions__section__info {
	max-width: 20rem;
}

.home_aquisitions__title.title_y {
	line-height: 1.05;
}

.home_aquisitions__arrows {
	display: flex;
	flex-wrap: wrap;
	gap: 1.35rem;
	margin-left: -0.2rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.arrow_x.slick-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
}

.arrow_x.slick-arrow svg {
	width: 90%;
	height: auto;
}

.home_aquisitions__section {
	display: flex;
	flex-wrap: wrap;
	gap: 5.8rem;
}

.home_aquisitions__slider {
	width: calc(100% - 20rem - 6.325rem + 4rem);
	margin-right: -4rem;
}
.home_aquisitions__slider .slick-track {
	display: flex !important;
}

.home_aquisitions__slider .slick-slide {
	height: inherit !important;
}

.home_aquisitions__slide__title {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 0.5rem;
}

.home_aquisitions__slide__cat {
	color: #4f5553;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem; /* 128.571% */
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.home_aquisitions__slide__inner {
	width: 21.25rem;
}

.home_aquisitions__slide__info {
	padding: 1.9rem 1rem;
	border: 1px solid #e9e9e9;
	background: #fff;
	flex: 1;
}

.home_aquisitions__slide__text {
	color: #595959;
	font-size: 0.925rem;
	line-height: 1.45; /* 1.32rem */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.home_aquisitions__slide__inner {
	background: #fff;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.home_aquisitions__slide--reverse .home_aquisitions__slide__inner {
	display: flex;
	flex-direction: column-reverse;
}

.home_aquisitions__slide__image__inner {
	padding-top: 61.75%;
	position: relative;
	overflow: hidden;
}

.home_aquisitions__slide__image__inner img {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	object-fit: cover;
}

.home__new__item__title {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.625rem; /* 105% */
}

.home__new__item__title a {
}

.home__new__item {
	text-decoration: none;
	color: inherit;
	border-top: 1px solid #e9e9e9;
	width: calc(100% / 3 - 0.225rem);
	padding: 3.4rem 3.4rem 2.55rem;
	display: flex;
	flex-direction: column;
	gap: 6.35rem;
}

.home__news {
	display: flex;
	flex-wrap: wrap;
}

.home_aquisitions {
	padding-bottom: 8.75rem;
}

.home__new__item__date {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem; /* 128.571% */
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.home__new__item:hover {
	background: #0a3530;
	color: #fff;
}

.home__new__item:hover path {
	fill: #fff;
}

.loaded .home__new__item path {
	transition: 0.35s ease-in-out;
}

.home__new__item__arrow svg {
	width: 1.5rem;
	height: auto;
	transform: translate(calc(-100% - 0.75rem), 0);
	margin: 0 0.25rem;
}

.home__new__item:nth-child(2n) {
	width: calc(100% / 3 + 0.45rem);
}

.home__new__item__top {
	flex: 1;
}

.home__new__item__arrow {
	width: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;
}

.home__new__item:hover .home__new__item__arrow svg {
	transform: translate(-0.25rem, 0);
}

.home__new__item__arrow svg {
	transition: 0.35s ease-in-out;
}

.home_aquisitions__slide__title a {
	color: inherit;
	text-decoration: none;
}

.home_aquisitions__slide__title a:hover {
	opacity: 0.4;
}

.arrow_x.slick-arrow {
	cursor: pointer;
}

.arrow_x.slick-arrow:hover path {
	fill: #0a3530;
	opacity: 0.4;
}

.arrow_x.slick-arrow path {
	transition: 0.35s ease;
}

.home_sticky_title a svg {
	width: 1.5rem;
	height: auto;
}

.home_sticky_title a:hover {
	opacity: 0.5;
}

.home_sticky_title a span,
.home_sticky_title a svg {
	transition: 0.35s;
}

.home_sticky_title a:hover svg {
	transform: translate(0.25rem, 0);
}
@media screen and (max-width: 1000px) {
	.home_promo__info {
		position: static;
		width: 100%;
	}

	.home_promo__images {
		height: 54.5vw;
	}

	.home_promo__section {
		flex-direction: column;
		min-height: 0;
		gap: 3rem;
	}

	.home_promo__text {
		margin-bottom: 2.25rem;
		max-width: 30rem;
	}

	.home_promo {
		padding: 3rem 0 0;
	}

	.decore__home__line {
		display: none;
	}

	.home_promo__image.home_promo__image--2 {
		margin: 0 1rem;
	}

	.home_promo__image {
		width: calc((100% - 2rem) / 3);
	}

	.home_portfolio {
		padding: 3rem 0 0rem;
	}

	.home_portfolio__trigger__section {
		flex: none;
		width: 100%;
		padding: 0;
		padding-top: 4rem;
	}

	.home_about__image__bg:before {
		display: none;
	}

	.home_about__image {
		margin: 0 -1.25rem;
		width: 100vw;
	}

	.home_about__image__inner {
		padding-top: 0;
		height: 450px;
	}

	.home_about__info {
		padding-bottom: 12.25rem;
	}

	.home_sticky_section .container {
		padding: 0;
	}

	.home_sticky_content__section__title {
		font-size: 1.2rem;
		margin-bottom: 0.6rem;
	}

	.home_sticky_content__section__list {
		margin-bottom: 1.5rem;
	}

	.home_sticky_content__section__list ul {
		gap: 0.5rem;
	}

	.home_about__image__line_x--1 {
		width: 8rem;
	}

	.home_about__image__line_x {
		height: 8.25rem;
	}

	.home_about__image__line_x--2 {
		width: 10rem;
	}

	.home__new__item__title {
		font-size: 1.65rem;
		line-height: 1.25;
	}

	.home__new__item {
		padding: 3.25rem 1.75rem 3.25rem;
	}

	.home__new__item:nth-child(2n) {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.home_aquisitions {
		padding-bottom: 5.5rem;
	}

	.home_about_x {
		padding: 6.5rem 0;
	}

	.home_sticky_title__block {
		width: 24rem;
	}

	.home_sticky_content__block {
		width: calc(100% - 24rem);
	}

	.home_about__title__decore__text.home_about__title__decore__text--1 {
		display: none;
	}

	.home_about__title__decore__text.home_about__title__decore__text--2 {
		font-size: 11rem;
	}

	.home_about__title__decore__text.home_about__title__decore__text--2
		.home_about__title__decore__text__inner {
		margin-left: 0;
	}

	.home__new__item__date {
		margin-bottom: 1.25rem;
	}
}

@media screen and (max-width: 800px) {
	.home_portfolio__trigger__section_x--1 {
		width: 100%;
		gap: 3rem 0;
	}

	.home_portfolio__trigger__section_x--2 {
		padding: 3rem 0 3rem;
	}

	.home_about__info {
		display: flex;
		height: 450px;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 3rem 0 0;
	}

	.home_about__image {
		display: flex;
		height: 100%;
	}
	.home_sticky_title__block {
		display: none;
	}

	.home_sticky_content__block {
		width: 100%;
		padding: 31px 1.25rem;
        height: auto !important;
	}
    .home_sticky_content__section {
        position: static;
        opacity: 1;
        margin-bottom: 50px;
    }

    .sticky_title__block_2 {
        position: static;
    }

	.home_sticky_content__section__list {
		font-size: 0.9rem;
	}

	.home_sticky_content__section__title {
		margin-bottom: 0.85rem;
	}

	.home_sticky_content__section__list ul {
		gap: 0.6rem;
	}

	.home_sticky_content__section {
		margin-bottom: 50px;
	}

	.home_about_x {
		padding: 3rem 0 5rem;
	}

	.home_about__info_x {
		padding-top: 0;
		width: 100%;
	}

	.title_y.home_about__title_x {
		font-size: 1.95rem;
		margin-bottom: 1.25rem;
	}

	.home_about__text_x {
		max-width: 400px;
		margin-bottom: 25px;
	}

	.home_about__image_x {
		flex: none;
		width: 100vw;
		margin: 0 -1.25rem;
	}

	.home_about__image__line_x {
		height: 15vw;
	}

	.home_about__title__decore__text.home_about__title__decore__text--2 {
		font-size: 20vw;
		bottom: 0;
		left: 38%;
	}

	.home__news {
		flex-direction: column;
		gap: 0;
	}

	.home__new__item:nth-child(2n),
	.home__new__item {
		width: 100%;
		padding: 2.25rem 1.25rem 2.25rem;
		gap: 2.25rem;
	}

	.home__new__item__date {
		margin-bottom: 0.75rem;
		font-size: 0.85rem;
	}

	.home_aquisitions__section__info {
		width: 100%;
		max-width: none;
	}

	.home_aquisitions__slider {
		width: 100vw;
		margin: 0 -1.25rem;
	}

	.home_aquisitions__section {
		gap: 3rem;
	}

	.home_aquisitions {
		padding-bottom: 5rem;
	}
}

@media screen and (max-width: 550px) {
	.home_promo__title.title_y {
		font-size: 22px;
		margin-bottom: 1.25rem;
		line-height: 1.15;
	}

	.home_promo {
		padding: 20px 0 0;
	}

	.home_promo__text {
		margin-bottom: 1.55rem;
		line-height: 1.55;
	}

	.home_promo__section {
		gap: 2rem;
	}

	.home_promo__images {
		margin: 0 -1.25rem;
		width: 100vw;
		height: 56vw;
	}

	.home_promo__image.home_promo__image--2 {
		margin: 0 0.35rem;
	}

	.home_promo__image.home_promo__image--2 {
		clip-path: polygon(evenodd, 0 100%, 0 12.5%, 100% 12.5%, 100% 100%);
	}

	.home_promo__image.home_promo__image--3 {
		clip-path: polygon(evenodd, 0 100%, 0 25%, 100% 25%, 100% 100%);
	}

	.home_promo__image {
		width: calc((100% - 0.7rem) / 3);
	}

	.home_portfolio {
		padding: 32px 0 0px;
	}

	.home_portfolio__text {
		margin-bottom: 2rem;
		line-height: 1.6;
	}

	.home_portfolio__trigger__item__value {
		font-size: 2rem;
	}

	.home_portfolio__trigger__item__text {
		max-width: 130px;
		line-height: 1.35;
	}

	.home_portfolio__trigger__section {
		padding-top: 3.5rem;
	}

	.home_portfolio__trigger__section_x--1 {
		gap: 2.25rem 0;
	}

	.home_portfolio__trigger__section_x--2 {
		padding: 2.25rem 0 0;
	}

	.home_about__image__bg {
		width: 50%;
		height: 3.5rem;
	}

	.home_about__info {
		height: 325px;
		padding-top: 1.75rem;
	}

	.home_about__image__inner {
		height: 100%;
	}
}
