<!-- start footer -->

<footer class="main_footer_2">
    <div class="container">

        <div class="main_footer__row_2">
            <div class="main_footer__menu_2">
                <ul>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Availabilities</a></li>
                    <li><a href="">Invest</a></li>
                    <li><a href="">Inquiries</a></li>
                    <li><a href="">About us</a></li>
                </ul>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="main_footer__add_2">
                <a href="" class="main_footer__add__logo_2">
                    <svg width="141" height="27" viewBox="0 0 141 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.32095 26.252C7.64095 26.252 6.12895 25.964 4.78495 25.388C3.44095 24.788 2.38495 23.948 1.61695 22.868C0.848953 21.788 0.464953 20.528 0.464953 19.088H4.85695C4.95295 20.168 5.37295 21.056 6.11695 21.752C6.88495 22.448 7.95295 22.796 9.32095 22.796C10.737 22.796 11.841 22.46 12.633 21.788C13.425 21.092 13.821 20.204 13.821 19.124C13.821 18.284 13.569 17.6 13.065 17.072C12.585 16.544 11.973 16.136 11.229 15.848C10.509 15.56 9.50095 15.248 8.20495 14.912C6.57295 14.48 5.24095 14.048 4.20895 13.616C3.20095 13.16 2.33695 12.464 1.61695 11.528C0.896953 10.592 0.536953 9.344 0.536953 7.784C0.536953 6.344 0.896953 5.084 1.61695 4.004C2.33695 2.924 3.34495 2.096 4.64095 1.52C5.93695 0.943999 7.43695 0.655998 9.14095 0.655998C11.565 0.655998 13.545 1.268 15.081 2.492C16.641 3.692 17.505 5.348 17.673 7.46H13.137C13.065 6.548 12.633 5.768 11.841 5.12C11.049 4.472 10.005 4.148 8.70895 4.148C7.53295 4.148 6.57295 4.448 5.82895 5.048C5.08495 5.648 4.71295 6.512 4.71295 7.64C4.71295 8.408 4.94095 9.044 5.39695 9.548C5.87695 10.028 6.47695 10.412 7.19695 10.7C7.91695 10.988 8.90095 11.3 10.149 11.636C11.805 12.092 13.149 12.548 14.181 13.004C15.237 13.46 16.125 14.168 16.845 15.128C17.589 16.064 17.961 17.324 17.961 18.908C17.961 20.18 17.613 21.38 16.917 22.508C16.245 23.636 15.249 24.548 13.929 25.244C12.633 25.916 11.097 26.252 9.32095 26.252ZM26.9075 0.979998V26H22.8035V0.979998H26.9075ZM36.3997 22.688H44.8597V26H32.2957V0.979998H36.3997V22.688ZM46.9238 13.436C46.9238 10.988 47.4878 8.792 48.6158 6.848C49.7678 4.904 51.3158 3.392 53.2598 2.312C55.2278 1.208 57.3758 0.655998 59.7038 0.655998C62.3678 0.655998 64.7318 1.316 66.7958 2.636C68.8838 3.932 70.3958 5.78 71.3318 8.18H66.3998C65.7518 6.86 64.8518 5.876 63.6998 5.228C62.5478 4.58 61.2158 4.256 59.7038 4.256C58.0478 4.256 56.5718 4.628 55.2758 5.372C53.9798 6.116 52.9598 7.184 52.2158 8.576C51.4958 9.968 51.1358 11.588 51.1358 13.436C51.1358 15.284 51.4958 16.904 52.2158 18.296C52.9598 19.688 53.9798 20.768 55.2758 21.536C56.5718 22.28 58.0478 22.652 59.7038 22.652C61.2158 22.652 62.5478 22.328 63.6998 21.68C64.8518 21.032 65.7518 20.048 66.3998 18.728H71.3318C70.3958 21.128 68.8838 22.976 66.7958 24.272C64.7318 25.568 62.3678 26.216 59.7038 26.216C57.3518 26.216 55.2038 25.676 53.2598 24.596C51.3158 23.492 49.7678 21.968 48.6158 20.024C47.4878 18.08 46.9238 15.884 46.9238 13.436ZM89.5911 22.688H98.0511V26H85.4871V0.979998H89.5911V22.688ZM105.587 22.688H114.047V26H101.483V0.979998H105.587V22.688ZM116.111 13.436C116.111 10.988 116.675 8.792 117.803 6.848C118.955 4.904 120.503 3.392 122.447 2.312C124.415 1.208 126.563 0.655998 128.891 0.655998C131.555 0.655998 133.919 1.316 135.983 2.636C138.071 3.932 139.583 5.78 140.519 8.18H135.587C134.939 6.86 134.039 5.876 132.887 5.228C131.735 4.58 130.403 4.256 128.891 4.256C127.235 4.256 125.759 4.628 124.463 5.372C123.167 6.116 122.147 7.184 121.403 8.576C120.683 9.968 120.323 11.588 120.323 13.436C120.323 15.284 120.683 16.904 121.403 18.296C122.147 19.688 123.167 20.768 124.463 21.536C125.759 22.28 127.235 22.652 128.891 22.652C130.403 22.652 131.735 22.328 132.887 21.68C134.039 21.032 134.939 20.048 135.587 18.728H140.519C139.583 21.128 138.071 22.976 135.983 24.272C133.919 25.568 131.555 26.216 128.891 26.216C126.539 26.216 124.391 25.676 122.447 24.596C120.503 23.492 118.955 21.968 117.803 20.024C116.675 18.08 116.111 15.884 116.111 13.436Z" fill="white"/>
                    </svg>
                </a>
                <div class="main_footer__add__copyright_2">Copyright © 2023</div>
            </div>
        </div>


    </div>
</footer>

