<div class="js__modal__menu modal__menu">
    <div class="modal__menu__inner">

        <div class="modal__menu__image">
            <img src="images/pages/home/menu_bg.jpg" alt="">
        </div>
        <div class="modal__menu__decore">S</div>
        <div class="modal__menu__top">
            <a href="" class="modal__menu__logo">
                <svg width="156" height="48" viewBox="0 0 156 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.8288 28.178C15.1488 28.178 13.6368 27.89 12.2928 27.314C10.9488 26.714 9.89282 25.874 9.12482 24.794C8.35682 23.714 7.97282 22.454 7.97282 21.014H12.3648C12.4608 22.094 12.8808 22.982 13.6248 23.678C14.3928 24.374 15.4608 24.722 16.8288 24.722C18.2448 24.722 19.3488 24.386 20.1408 23.714C20.9328 23.018 21.3288 22.13 21.3288 21.05C21.3288 20.21 21.0768 19.526 20.5728 18.998C20.0928 18.47 19.4808 18.062 18.7368 17.774C18.0168 17.486 17.0088 17.174 15.7128 16.838C14.0808 16.406 12.7488 15.974 11.7168 15.542C10.7088 15.086 9.84482 14.39 9.12482 13.454C8.40482 12.518 8.04482 11.27 8.04482 9.71003C8.04482 8.27003 8.40482 7.01003 9.12482 5.93003C9.84482 4.85003 10.8528 4.02203 12.1488 3.44603C13.4448 2.87003 14.9448 2.58203 16.6488 2.58203C19.0728 2.58203 21.0528 3.19403 22.5888 4.41803C24.1488 5.61803 25.0128 7.27403 25.1808 9.38603H20.6448C20.5728 8.47403 20.1408 7.69403 19.3488 7.04603C18.5568 6.39803 17.5128 6.07403 16.2168 6.07403C15.0408 6.07403 14.0808 6.37403 13.3368 6.97403C12.5928 7.57403 12.2208 8.43803 12.2208 9.56603C12.2208 10.334 12.4488 10.97 12.9048 11.474C13.3848 11.954 13.9848 12.338 14.7048 12.626C15.4248 12.914 16.4088 13.226 17.6568 13.562C19.3128 14.018 20.6568 14.474 21.6888 14.93C22.7448 15.386 23.6328 16.094 24.3528 17.054C25.0968 17.99 25.4688 19.25 25.4688 20.834C25.4688 22.106 25.1208 23.306 24.4248 24.434C23.7528 25.562 22.7568 26.474 21.4368 27.17C20.1408 27.842 18.6048 28.178 16.8288 28.178Z" fill="#0A3530"/>
                    <path d="M34.4154 2.90603V27.926H30.3114V2.90603H34.4154Z" fill="#0A3530"/>
                    <path d="M43.9076 24.614H52.3676V27.926H39.8036V2.90603H43.9076V24.614Z" fill="#0A3530"/>
                    <path d="M54.4317 15.362C54.4317 12.914 54.9957 10.718 56.1237 8.77403C57.2757 6.83003 58.8237 5.31803 60.7677 4.23803C62.7357 3.13403 64.8837 2.58203 67.2117 2.58203C69.8757 2.58203 72.2397 3.24203 74.3037 4.56203C76.3917 5.85803 77.9037 7.70603 78.8397 10.106H73.9077C73.2597 8.78603 72.3597 7.80203 71.2077 7.15403C70.0557 6.50603 68.7237 6.18203 67.2117 6.18203C65.5557 6.18203 64.0797 6.55403 62.7837 7.29803C61.4877 8.04203 60.4677 9.11003 59.7237 10.502C59.0037 11.894 58.6437 13.514 58.6437 15.362C58.6437 17.21 59.0037 18.83 59.7237 20.222C60.4677 21.614 61.4877 22.694 62.7837 23.462C64.0797 24.206 65.5557 24.578 67.2117 24.578C68.7237 24.578 70.0557 24.254 71.2077 23.606C72.3597 22.958 73.2597 21.974 73.9077 20.654H78.8397C77.9037 23.054 76.3917 24.902 74.3037 26.198C72.2397 27.494 69.8757 28.142 67.2117 28.142C64.8597 28.142 62.7117 27.602 60.7677 26.522C58.8237 25.418 57.2757 23.894 56.1237 21.95C54.9957 20.006 54.4317 17.81 54.4317 15.362Z" fill="#0A3530"/>
                    <path d="M97.099 24.614H105.559V27.926H92.995V2.90603H97.099V24.614Z" fill="#0A3530"/>
                    <path d="M113.095 24.614H121.555V27.926H108.991V2.90603H113.095V24.614Z" fill="#0A3530"/>
                    <path d="M123.619 15.362C123.619 12.914 124.183 10.718 125.311 8.77403C126.463 6.83003 128.011 5.31803 129.955 4.23803C131.923 3.13403 134.071 2.58203 136.399 2.58203C139.063 2.58203 141.427 3.24203 143.491 4.56203C145.579 5.85803 147.091 7.70603 148.027 10.106H143.095C142.447 8.78603 141.547 7.80203 140.395 7.15403C139.243 6.50603 137.911 6.18203 136.399 6.18203C134.743 6.18203 133.267 6.55403 131.971 7.29803C130.675 8.04203 129.655 9.11003 128.911 10.502C128.191 11.894 127.831 13.514 127.831 15.362C127.831 17.21 128.191 18.83 128.911 20.222C129.655 21.614 130.675 22.694 131.971 23.462C133.267 24.206 134.743 24.578 136.399 24.578C137.911 24.578 139.243 24.254 140.395 23.606C141.547 22.958 142.447 21.974 143.095 20.654H148.027C147.091 23.054 145.579 24.902 143.491 26.198C141.427 27.494 139.063 28.142 136.399 28.142C134.047 28.142 131.899 27.602 129.955 26.522C128.011 25.418 126.463 23.894 125.311 21.95C124.183 20.006 123.619 17.81 123.619 15.362Z" fill="#0A3530"/>
                    <path d="M13.464 45.358C12.9973 45.358 12.5773 45.278 12.204 45.118C11.8306 44.9513 11.5373 44.718 11.324 44.418C11.1106 44.118 11.004 43.768 11.004 43.368H12.224C12.2506 43.668 12.3673 43.9146 12.574 44.108C12.7873 44.3013 13.084 44.398 13.464 44.398C13.8573 44.398 14.164 44.3046 14.384 44.118C14.604 43.9246 14.714 43.678 14.714 43.378C14.714 43.1446 14.644 42.9546 14.504 42.808C14.3706 42.6613 14.2006 42.548 13.994 42.468C13.794 42.388 13.514 42.3013 13.154 42.208C12.7006 42.088 12.3306 41.968 12.044 41.848C11.764 41.7213 11.524 41.528 11.324 41.268C11.124 41.008 11.024 40.6613 11.024 40.228C11.024 39.828 11.124 39.478 11.324 39.178C11.524 38.878 11.804 38.648 12.164 38.488C12.524 38.328 12.9406 38.248 13.414 38.248C14.0873 38.248 14.6373 38.418 15.064 38.758C15.4973 39.0913 15.7373 39.5513 15.784 40.138H14.524C14.504 39.8846 14.384 39.668 14.164 39.488C13.944 39.308 13.654 39.218 13.294 39.218C12.9673 39.218 12.7006 39.3013 12.494 39.468C12.2873 39.6346 12.184 39.8746 12.184 40.188C12.184 40.4013 12.2473 40.578 12.374 40.718C12.5073 40.8513 12.674 40.958 12.874 41.038C13.074 41.118 13.3473 41.2046 13.694 41.298C14.154 41.4246 14.5273 41.5513 14.814 41.678C15.1073 41.8046 15.354 42.0013 15.554 42.268C15.7606 42.528 15.864 42.878 15.864 43.318C15.864 43.6713 15.7673 44.0046 15.574 44.318C15.3873 44.6313 15.1106 44.8846 14.744 45.078C14.384 45.2646 13.9573 45.358 13.464 45.358Z" fill="#0A3530"/>
                    <path d="M21.3991 43.868H18.4891L17.9891 45.288H16.7991L19.2891 38.328H20.6091L23.0991 45.288H21.8991L21.3991 43.868ZM21.0791 42.938L19.9491 39.708L18.8091 42.938H21.0791Z" fill="#0A3530"/>
                    <path d="M31.5018 38.338V45.288H30.3618V40.528L28.2418 45.288H27.4518L25.3218 40.528V45.288H24.1818V38.338H25.4118L27.8518 43.788L30.2818 38.338H31.5018Z" fill="#0A3530"/>
                    <path d="M40.9678 45.288L40.1078 44.428C39.7745 44.7613 39.4111 45.0113 39.0178 45.178C38.6245 45.338 38.1845 45.418 37.6978 45.418C37.2045 45.418 36.7678 45.3313 36.3878 45.158C36.0078 44.9846 35.7145 44.738 35.5078 44.418C35.3011 44.0913 35.1978 43.7146 35.1978 43.288C35.1978 42.808 35.3345 42.3813 35.6078 42.008C35.8811 41.628 36.2878 41.328 36.8278 41.108C36.6345 40.8746 36.4978 40.658 36.4178 40.458C36.3378 40.2513 36.2978 40.0246 36.2978 39.778C36.2978 39.4713 36.3745 39.198 36.5278 38.958C36.6878 38.718 36.9145 38.528 37.2078 38.388C37.5011 38.248 37.8411 38.178 38.2278 38.178C38.6211 38.178 38.9545 38.2546 39.2278 38.408C39.5078 38.5546 39.7145 38.758 39.8478 39.018C39.9878 39.278 40.0445 39.568 40.0178 39.888H38.8778C38.8845 39.6413 38.8245 39.4513 38.6978 39.318C38.5711 39.178 38.3978 39.108 38.1778 39.108C37.9578 39.108 37.7778 39.1746 37.6378 39.308C37.5045 39.4346 37.4378 39.5913 37.4378 39.778C37.4378 39.958 37.4878 40.138 37.5878 40.318C37.6945 40.4913 37.8778 40.718 38.1378 40.998L39.9778 42.828L40.6878 41.658H41.9178L41.0178 43.198L40.7678 43.608L42.4578 45.288H40.9678ZM37.6978 44.448C38.3245 44.448 38.8778 44.1913 39.3578 43.678L37.5178 41.828C36.7311 42.1413 36.3378 42.6146 36.3378 43.248C36.3378 43.588 36.4645 43.8746 36.7178 44.108C36.9711 44.3346 37.2978 44.448 37.6978 44.448Z" fill="#0A3530"/>
                    <path d="M46.9429 38.338V45.288H45.8029V38.338H46.9429Z" fill="#0A3530"/>
                    <path d="M52.0496 45.288L50.4496 42.508H49.5796V45.288H48.4396V38.338H50.8396C51.3729 38.338 51.8229 38.4313 52.1896 38.618C52.5629 38.8046 52.8396 39.0546 53.0196 39.368C53.2063 39.6813 53.2996 40.0313 53.2996 40.418C53.2996 40.8713 53.1663 41.2846 52.8996 41.658C52.6396 42.0246 52.2363 42.2746 51.6896 42.408L53.4096 45.288H52.0496ZM49.5796 41.598H50.8396C51.2663 41.598 51.5863 41.4913 51.7996 41.278C52.0196 41.0646 52.1296 40.778 52.1296 40.418C52.1296 40.058 52.0229 39.778 51.8096 39.578C51.5963 39.3713 51.2729 39.268 50.8396 39.268H49.5796V41.598Z" fill="#0A3530"/>
                    <path d="M58.948 43.868H56.038L55.538 45.288H54.348L56.838 38.328H58.158L60.648 45.288H59.448L58.948 43.868ZM58.628 42.938L57.498 39.708L56.358 42.938H58.628Z" fill="#0A3530"/>
                    <path d="M65.4683 44.368H67.8183V45.288H64.3283V38.338H65.4683V44.368Z" fill="#0A3530"/>
                    <path d="M71.9416 45.358C71.295 45.358 70.6983 45.208 70.1516 44.908C69.6116 44.6013 69.1816 44.178 68.8616 43.638C68.5483 43.0913 68.3916 42.478 68.3916 41.798C68.3916 41.118 68.5483 40.508 68.8616 39.968C69.1816 39.428 69.6116 39.008 70.1516 38.708C70.6983 38.4013 71.295 38.248 71.9416 38.248C72.595 38.248 73.1916 38.4013 73.7316 38.708C74.2783 39.008 74.7083 39.428 75.0216 39.968C75.335 40.508 75.4916 41.118 75.4916 41.798C75.4916 42.478 75.335 43.0913 75.0216 43.638C74.7083 44.178 74.2783 44.6013 73.7316 44.908C73.1916 45.208 72.595 45.358 71.9416 45.358ZM71.9416 44.368C72.4016 44.368 72.8116 44.2646 73.1716 44.058C73.5316 43.8446 73.8116 43.5446 74.0116 43.158C74.2183 42.7646 74.3216 42.3113 74.3216 41.798C74.3216 41.2846 74.2183 40.8346 74.0116 40.448C73.8116 40.0613 73.5316 39.7646 73.1716 39.558C72.8116 39.3513 72.4016 39.248 71.9416 39.248C71.4816 39.248 71.0716 39.3513 70.7116 39.558C70.3516 39.7646 70.0683 40.0613 69.8616 40.448C69.6616 40.8346 69.5616 41.2846 69.5616 41.798C69.5616 42.3113 69.6616 42.7646 69.8616 43.158C70.0683 43.5446 70.3516 43.8446 70.7116 44.058C71.0716 44.2646 71.4816 44.368 71.9416 44.368Z" fill="#0A3530"/>
                    <path d="M78.9034 45.358C78.4368 45.358 78.0168 45.278 77.6434 45.118C77.2701 44.9513 76.9768 44.718 76.7634 44.418C76.5501 44.118 76.4434 43.768 76.4434 43.368H77.6634C77.6901 43.668 77.8068 43.9146 78.0134 44.108C78.2268 44.3013 78.5234 44.398 78.9034 44.398C79.2968 44.398 79.6034 44.3046 79.8234 44.118C80.0434 43.9246 80.1534 43.678 80.1534 43.378C80.1534 43.1446 80.0834 42.9546 79.9434 42.808C79.8101 42.6613 79.6401 42.548 79.4334 42.468C79.2334 42.388 78.9534 42.3013 78.5934 42.208C78.1401 42.088 77.7701 41.968 77.4834 41.848C77.2034 41.7213 76.9634 41.528 76.7634 41.268C76.5634 41.008 76.4634 40.6613 76.4634 40.228C76.4634 39.828 76.5634 39.478 76.7634 39.178C76.9634 38.878 77.2434 38.648 77.6034 38.488C77.9634 38.328 78.3801 38.248 78.8534 38.248C79.5268 38.248 80.0768 38.418 80.5034 38.758C80.9368 39.0913 81.1768 39.5513 81.2234 40.138H79.9634C79.9434 39.8846 79.8234 39.668 79.6034 39.488C79.3834 39.308 79.0934 39.218 78.7334 39.218C78.4068 39.218 78.1401 39.3013 77.9334 39.468C77.7268 39.6346 77.6234 39.8746 77.6234 40.188C77.6234 40.4013 77.6868 40.578 77.8134 40.718C77.9468 40.8513 78.1134 40.958 78.3134 41.038C78.5134 41.118 78.7868 41.2046 79.1334 41.298C79.5934 41.4246 79.9668 41.5513 80.2534 41.678C80.5468 41.8046 80.7934 42.0013 80.9934 42.268C81.2001 42.528 81.3034 42.878 81.3034 43.318C81.3034 43.6713 81.2068 44.0046 81.0134 44.318C80.8268 44.6313 80.5501 44.8846 80.1834 45.078C79.8234 45.2646 79.3968 45.358 78.9034 45.358Z" fill="#0A3530"/>
                    <path d="M88.1986 38.338V45.288H87.0586V42.248H83.7886V45.288H82.6486V38.338H83.7886V41.318H87.0586V38.338H88.1986Z" fill="#0A3530"/>
                    <path d="M93.8894 43.868H90.9794L90.4794 45.288H89.2894L91.7794 38.328H93.0994L95.5894 45.288H94.3894L93.8894 43.868ZM93.5694 42.938L92.4394 39.708L91.2994 42.938H93.5694Z" fill="#0A3530"/>
                    <path d="M100.502 45.288L97.812 42.178V45.288H96.672V38.338H97.812V41.508L100.512 38.338H101.942L98.922 41.818L101.992 45.288H100.502Z" fill="#0A3530"/>
                    <path d="M105.218 41.798C105.218 41.118 105.374 40.508 105.688 39.968C106.008 39.428 106.438 39.008 106.978 38.708C107.524 38.4013 108.121 38.248 108.768 38.248C109.508 38.248 110.164 38.4313 110.738 38.798C111.318 39.158 111.738 39.6713 111.998 40.338H110.628C110.448 39.9713 110.198 39.698 109.878 39.518C109.558 39.338 109.188 39.248 108.768 39.248C108.308 39.248 107.898 39.3513 107.538 39.558C107.178 39.7646 106.894 40.0613 106.688 40.448C106.488 40.8346 106.388 41.2846 106.388 41.798C106.388 42.3113 106.488 42.7613 106.688 43.148C106.894 43.5346 107.178 43.8346 107.538 44.048C107.898 44.2546 108.308 44.358 108.768 44.358C109.188 44.358 109.558 44.268 109.878 44.088C110.198 43.908 110.448 43.6346 110.628 43.268H111.998C111.738 43.9346 111.318 44.448 110.738 44.808C110.164 45.168 109.508 45.348 108.768 45.348C108.114 45.348 107.518 45.198 106.978 44.898C106.438 44.5913 106.008 44.168 105.688 43.628C105.374 43.088 105.218 42.478 105.218 41.798Z" fill="#0A3530"/>
                    <path d="M117.522 43.868H114.612L114.112 45.288H112.922L115.412 38.328H116.732L119.222 45.288H118.022L117.522 43.868ZM117.202 42.938L116.072 39.708L114.932 42.938H117.202Z" fill="#0A3530"/>
                    <path d="M125.165 40.408C125.165 40.7613 125.082 41.0946 124.915 41.408C124.748 41.7213 124.482 41.978 124.115 42.178C123.748 42.3713 123.278 42.468 122.705 42.468H121.445V45.288H120.305V38.338H122.705C123.238 38.338 123.688 38.4313 124.055 38.618C124.428 38.798 124.705 39.0446 124.885 39.358C125.072 39.6713 125.165 40.0213 125.165 40.408ZM122.705 41.538C123.138 41.538 123.462 41.4413 123.675 41.248C123.888 41.048 123.995 40.768 123.995 40.408C123.995 39.648 123.565 39.268 122.705 39.268H121.445V41.538H122.705Z" fill="#0A3530"/>
                    <path d="M127.392 38.338V45.288H126.252V38.338H127.392Z" fill="#0A3530"/>
                    <path d="M133.379 38.338V39.268H131.529V45.288H130.389V39.268H128.529V38.338H133.379Z" fill="#0A3530"/>
                    <path d="M138.723 43.868H135.813L135.313 45.288H134.123L136.613 38.328H137.933L140.423 45.288H139.223L138.723 43.868ZM138.403 42.938L137.273 39.708L136.133 42.938H138.403Z" fill="#0A3530"/>
                    <path d="M142.646 44.368H144.996V45.288H141.506V38.338H142.646V44.368Z" fill="#0A3530"/>
                </svg>
            </a>

            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23 1L1 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 1L23 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>


        <div class="modal__menu__content">


            <div class="modal__menu__list">
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Availabilities</a></li>
                    <li><a href="">Invest</a></li>
                    <li><a href="">Inquiries</a></li>
                </ul>
            </div>

            <div class="modal__menu__contact">
                <div class="modal__menu__contact__item">
                    <div class="modal__menu__contact__item__title">Address</div>
                    <div class="modal__menu__contact__item__value">60 Cutter Mill Road, Suite 407Great Neck, NY 11021</div>
                </div>
                <div class="modal__menu__contact__item">
                    <div class="modal__menu__contact__item__title">Phone</div>
                    <div class="modal__menu__contact__item__value">
                        <a href="tel:(516) 261-2699">(516) 261-2699</a>
                    </div>
                </div>
                <div class="modal__menu__contact__item">
                    <div class="modal__menu__contact__item__social">
                        <a href="" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 9H2V21H6V9Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.9997 11.3701C16.1231 12.2023 15.981 13.0523 15.5935 13.7991C15.206 14.5459 14.5929 15.1515 13.8413 15.5297C13.0898 15.908 12.2382 16.0397 11.4075 15.906C10.5768 15.7723 9.80947 15.3801 9.21455 14.7852C8.61962 14.1903 8.22744 13.4229 8.09377 12.5923C7.96011 11.7616 8.09177 10.91 8.47003 10.1584C8.84829 9.40691 9.45389 8.7938 10.2007 8.4063C10.9475 8.0188 11.7975 7.87665 12.6297 8.00006C13.4786 8.12594 14.2646 8.52152 14.8714 9.12836C15.4782 9.73521 15.8738 10.5211 15.9997 11.3701Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.5 6.5H17.51" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>




<!-- окно Call-->

<div id="js_modal__call" class="modal__default modal__call">
    <div class="modal__inner">
        <div class="modal__title">Оставьте заявку</div>
        <form action="javascript:void(0)" class="modal__form js_modal__form">

            <div class="form_field">
                <input type="text" name="name" required placeholder="Ваше имя">
            </div>

            <div class="form_field">
                <input type="tel" name="phone" required placeholder="Ваш телефон">
            </div>

            <div class="form_field">
                <textarea name="comment" placeholder="Комментарий"></textarea>
            </div>

            <div class="form_field form__field--btn">
                <button class="btn__default btn__orange btn__modal__call">Отправить</button>
            </div>

            <div class="form_field form__field--agree">
                Нажимая на кнопку, вы соглашаетесь на <a href="">обработку персональных данных</a>
            </div>
        </form>
    </div>
</div>



<!-- окно Спасибо Покупка в один клик -->

<!-- <div id="js_modal__thanks" class="modal__default modal__thanks">
    <div class="modal__inner">

        <svg class='modal__thanks__icon' width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="48" stroke="#1356A2" stroke-width="4"/>
            <path d="M25 47.8182L42.3759 66L75 34" stroke="#1356A2" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <div class="modal__title">Спасибо за ваш заказ!</div>
        <div class="modal__text">Мы свяжемся с вами в ближайшее время для уточнения деталей,<br> а также сообщим точную стоимость заказа.</div>

        <button class="btn__default btn__style__2 btn__form_close js__btn_close__modal">Хорошо, жду</button>

    </div>
</div> -->