<script src="js/vendor/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTfFfCOtb65cluOXGa0uSjhTuqBhiZkk&libraries=places&callback=initializeMap"></script>
<script> function initializeMap(){return false;}</script>
<script src="js/vendor/fancybox.umd.js"></script>
<script src="js/vendor/gsap.min.js"></script>
<script src="js/vendor/ScrollTrigger.min.js"></script>
<script src="js/vendor/select2.min.js"></script>
<script src="js/vendor/stickyfill.min.js"></script>
<script src="js/vendor/slick.min.js"></script>
<script src="js/main.js?2"></script>
<script src="js/animate.js?2"></script>
<script src="js/gmap.js?2"></script>



